<form method="post" action="https://httpbin.org/post">
      日期：<input type="date" name="enterDate"/><br/>
      姓名：<input type="text" name="name"/><br/>
      電話：<input type="tel" name="tel"/><br/>
      性別：<input type="radio" name="sex" value="M"/>男
      <input type="radio" name="sex" value="F"/>女<br/>
      Email: <input type="email" name="email" placeholder="e.g. test@gmail.com"/><br/>
      <input type="checkbox" name="public"/>填寫的資料可於公開用途使用<br/>
      職業：<select name="occupation">
        <option value="0">服務業</option>
        <option value="1">學生</option>
        <option value="2">軍公教</option>
        <option value="3">金融業</option>
        <option value="4">科技業</option>
        <option value="5">無</option>
        <option value="6">其他</option>
      </select><br/>
      對於今天的餐點評價：<input type="radio" name="food" value="1"/>1
      <input type="radio" name="food" value="2"/>2<input type="radio" name="food" value="3"/>3
      <input type="radio" name="food" value="4"/>4<input type="radio" name="food" value="5"/>5<br/>
      對於今天的服務評價：<input type="radio" name="service" value="1"/>1
      <input type="radio" name="service" value="2"/>2<input type="radio" name="service" value="3"/>3
      <input type="radio" name="service" value="4"/>4<input type="radio" name="service" value="5"/>5<br/>
      對於今天的整潔評價：<input type="radio" name="clean"value="1"/>1
      <input type="radio" name="clean" value="2"/>2<input type="radio" name="clean" value="3"/>3
      <input type="radio" name="clean" value="4"/>4<input type="radio" name="clean" value="5"/>5<br/>
      其他：<br/><textarea name="comment"></textarea><br/>
      <input type="submit"/><input type="reset"/>
    </form>